:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.snackbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--snackbar-bg-color);
  padding: .625rem;
  border-radius: var(--border-radius-snackbar);
  width: 100%;

  &_icon {
    height: 1.25rem;
    width: 1.25rem;
    object-fit: contain;
    margin-right: auto;
    margin-left: .625rem;
  }

  span {
    color: black;
    font-weight: 700;
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    flex: 1;
    text-align: center;
  }
}