.hero {
  background: url('/banner.png') center / 105% no-repeat;
  position: relative;
  width: 100%;
  min-height: 480px;

  &_logo {
    margin: 3rem;
    background: url('/Logo.png') center / contain no-repeat;
    position: absolute;
    width: 250px;
    height: 115px;
  }

  &_text {
    font-family: var(--font-secondary);
    font-size: 64px;
    line-height: 120%;
    position: absolute;
    bottom: 5%;
    left: 73%;
    transform: translateX(-50%);
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  &_body {
    margin: 4rem auto;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    width: 880px;
    padding: 16px;
    border-radius: var(--border-radius-large);
    gap: 16px;
    box-shadow: var(--box-shadow);
    position: relative;
  }

  &_body_button {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    height: 72px;
    width: 64px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_body_button-image {
    width: 18.5px;
    height: 18.5px;
  }

  &_extrabutton {
    font-family: var(--font-primary);
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    height: 54px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    position: absolute;
    right: 150px;

    img {
      margin-right: 10px;
    }
  }

  &_body_form {
    display: flex;
    width: 100%;
    align-items: center;
  }

  &_body_input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 16px;
  }
}

.cards-title {
  padding: 0 4rem;
  display: flex;
  justify-content: center;

  &_body {
    text-align: center;
    width: 660px;

    h1 {
      font-family: var(--font-primary);
      font-size: 31px;
      font-weight: 700;
      line-height: 140%;
      color: var(--primary-color);
    }

    h6 {
      font-family: var(--font-primary);
      font-size: 16px;
      line-height: 140%;
      font-weight: 400;
      padding-top: 1rem;
    }
  }
}

.footer {
  padding: 2rem 0;
  text-align: center;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  &_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    span {
      color: #202223;
      line-height: 100%;
      font-family: 'Comfortaa';
      font-weight: 700;
      font-size: 12px;
    }

    &_social-media {
      display: flex;

      img {
        width: auto;
        height: auto;
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}