.heroes {
  padding-top: 4rem;
  text-align: center;
  max-width: 100rem;
  margin: auto;
  padding-bottom: 4rem;

  &_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 auto;

    &_card {
      aspect-ratio: 4/3;
      background: var(--card-bg-color);
      box-shadow: var(--card-shadow);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      overflow: hidden;
      min-height: var(--card-min-height);
      width: 100%;

      &_image-container {
        aspect-ratio: 4/3;
        overflow: hidden;
        width: 100%;
        height: var(--card-height-img);
        display: flex;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center 20%;
        }
      }

      &_info {
        width: 100%;
        text-align: left;
        font-family: var(--font-primary);
        color: var(--text-color);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h3,
        &_occupation,
        &_description,
        &_location {
          margin: 0 .9375rem;
          line-height: 140%;
        }

        h3 {
          font-size: var(--font-size-title);
          font-weight: var(--font-weight-bold);
        }

        &_occupation {
          font-size: var(--font-size-base);
          font-weight: var(--font-weight-bold);
        }

        &_description,
        &_location {
          font-size: var(--font-size-small);
          font-weight: var(--font-weight-regular);
        }

        &_location {
          font-size: var(--font-size-base);
        }
      }

      &_actions {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: auto;
        box-sizing: border-box;

        button {
          flex: 1;
          padding: .625rem 0;
          border: none;
          border-radius: 624.9375rem;
          cursor: pointer;
          color: white;
          font-family: var(--font-primary);
          font-size: var(--font-size-base);
        }

        &_edit-btn {
          background-color: var(--primary-color);
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 0 .9375rem .9375rem;

          img {
            margin-right: .625rem;
          }
        }

        &_delete-btn {
          background-color: var(--background-light);
          margin: 0 .9375rem .9375rem 0;

          span {
            color: var(--text-color);
          }
        }

        button+button {
          margin-left: .625rem;
        }
      }

      &_showmore-container {
        padding: 4rem 4rem 0 4rem;

        &_btn {
          padding: .625rem 2.5rem;
          border: none;
          border-radius: 624.9375rem;
          background-color: var(--primary-color);
          color: white;
          font-weight: var(--font-weight-regular);
          font-size: var(--font-size-base);
          line-height: 1.5rem;
          font-family: var(--font-primary);
          cursor: pointer;
        }
      }
    }
  }
}