<div class="heroes">
  <div class="heroes_list">
    <div class="heroes_list_card" *ngFor="let hero of heroes | async">
      <div class="heroes_list_card_image-container">
        <img [src]="hero.image" [alt]="hero.name">
      </div>
      <div class="heroes_list_card_info">
        <h3>{{ hero.name }}</h3>
        <p class="heroes_list_card_info_occupation">{{ hero.occupation }}</p>
        <p class="heroes_list_card_info_description">{{ hero.description }}</p>
        <p class="heroes_list_card_info_location">{{ hero.location }}</p>
      </div>
      <div class="heroes_list_card_actions">
        <button class="heroes_list_card_actions_edit-btn" (click)="openModalEdit(hero)"><img src="/Editar.png"
            alt=""><span>Editar</span></button>
        <button class="heroes_list_card_actions_delete-btn" (click)="openModalDelete(hero.id)">
          <span>Eliminar</span>
        </button>
      </div>
    </div>
  </div>

  <div class="heroes_list_card_showmore-container" *ngIf="hasMoreHeroes">
    <button class="heroes_list_card_showmore-container_btn" (click)="loadMore()"><span>Ver más</span></button>
  </div>
</div>

<app-eliminar-heroe *ngIf="isModalOpenDelete && heroIdToDelete !== null" [heroId]="heroIdToDelete"
  (close)="closeModalDelete()" (deleted)="onHeroDeleted($event)">
</app-eliminar-heroe>

<app-editar-heroe *ngIf="isModalOpenEdit" [hero]="heroToEdit" (close)="closeModalEdit()" (save)="onHeroEdited($event)">
</app-editar-heroe>