.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);

  &_content {
    background: var(--modal-bg);
    padding: 30px;
    border-radius: 24px;
    width: var(--modal-width);
    box-shadow: var(--box-shadow);
    position: relative;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h2 {
        margin: 0 auto;
        font-size: var(--font-size-title);
        font-weight: 600;
        color: #231E20;
      }

      &_close-button {
        background: none;
        border: none;
        font-size: var(--font-size-title);
        cursor: pointer;
      }
    }

    &_form {
      &_row {
        display: flex;
        gap: 28px;

        &_group {
          flex: 1;
          min-width: 0;
          display: flex;
          flex-direction: column;
          gap: 8px;

          input {
            width: 100%;
            min-height: 56px;
            border-radius: var(--border-radius-input);
            border: none;
            background-color: var(--input-bg-color);
            padding: var(--input-padding);
            box-sizing: border-box;
          }

          input::placeholder {
            font-family: var(--font-primary);
            font-size: var(--font-size-base);
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }

      &_group {
        display: flex;
        flex-direction: column;
        margin: 14px 0;
        gap: 8px;

        input,
        textarea {
          width: 100%;
          min-height: 56px;
          border-radius: var(--border-radius-input);
          border: none;
          background-color: var(--input-bg-color);
          padding: var(--input-padding);
          box-sizing: border-box;
        }

        textarea {
          resize: vertical;
          height: 100px;
        }

        &_file-input {
          display: flex;
          align-items: center;
          gap: 12px;

          button {
            background: var(--secondary-color);
            height: 48px;
            color: var(--text-color);
            border: none;
            border-radius: var(--border-radius-button);
            padding: var(--button-padding);
            cursor: pointer;
            font-size: var(--font-size-base);
          }

          span {
            font-size: var(--font-size-small);
          }
        }

        input::placeholder,
        textarea::placeholder {
          font-family: var(--font-primary);
          font-size: var(--font-size-base);
          color: rgba(0, 0, 0, 0.5);
        }
      }

      &_actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        &_checkbox-group {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          color: var(--text-color);

          input[type="checkbox"] {
            appearance: none;
            width: 18px;
            height: 18px;
            border-radius: 4px;
            border: 2px solid #000000;
            display: inline-block;
            position: relative;
            cursor: pointer;
            min-height: auto;
            background-color: transparent;
            padding: 8px;
          }

          input[type="checkbox"]:checked {
            border: 2px solid transparent;
            background-color: var(--checkbox-checked-bg);
          }

          input[type="checkbox"]:checked::after {
            content: '✔';
            color: white;
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          label {
            font-size: var(--font-size-large);
          }

          span {
            text-decoration: underline;
          }
        }

        button[type="submit"] {
          background: var(--primary-color);
          height: 48px;
          color: #FFFFFF;
          border: none;
          border-radius: var(--border-radius-button);
          padding: var(--button-padding);
          cursor: pointer;
          font-size: var(--font-size-base);
        }

        button[type="submit"]:disabled {
          background: var(--secondary-color);
          color: var(--text-color);
          cursor: not-allowed;
        }
      }
    }
  }
}