<!-- `modal` (Popup o caja para editar o crear el héroe) -->
<div class="modal" (click)="closeModal()">
  <div class="modal_content" (click)="$event.stopPropagation()">
    <div class="modal_content_header">
      <h2>{{title}}</h2>
      <button class="modal_content_header_close-button" (click)="closeModal()">✖</button>
    </div>

    <form class="modal_content_form" (ngSubmit)="saveHero()">
      <div class="modal_content_form_row">
        <div class="modal_content_form_row_group">
          <label>Nombre</label>
          <input type="text" [(ngModel)]="hero.name" name="name" placeholder="Nombre" required />
        </div>
        <div class="modal_content_form_row_group">
          <label>Ocupación</label>
          <input type="text" [(ngModel)]="hero.occupation" name="occupation" placeholder="Ocupación" required />
        </div>
      </div>

      <div class="modal_content_form_group">
        <label>Ciudad / Localización</label>
        <input type="text" [(ngModel)]="hero.location" name="location" placeholder="Ciudad" required />
      </div>

      <div class="modal_content_form_group">
        <label>Descripción</label>
        <textarea [(ngModel)]="hero.description" name="description" placeholder="Ingresa una descripción"
          rows="4"></textarea>
      </div>

      <div class="modal_content_form_group">
        <label>Elige una imagen</label>
        <div class="modal_content_form_group_file-input">
          <button type="button" (click)="fileInput.click()">Seleccionar archivo</button>
          <span>{{ selectedFileName || 'Sin archivos seleccionados' }}</span>
          <input type="file" #fileInput (change)="onFileSelected($event)" hidden />
        </div>
      </div>

      <div class="modal_content_form_actions">
        <div class="modal_content_form_group modal_content_form_actions_checkbox-group">
          <input type="checkbox" id="terms" [(ngModel)]="hero.termsAccepted" name="terms" required />
          <label for="terms">Acepto los <span>Términos y condiciones</span></label>
        </div>
        <button type="submit" [disabled]="!isFormValid()"> {{ buttonLabel }}</button>
      </div>
    </form>
  </div>
</div>