<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>{{title}}</h2>
      <button class="close-button" (click)="closeModal()">✖</button>
    </div>

    <form (ngSubmit)="saveHero()">
      <div class="form-row">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" [(ngModel)]="hero.name" name="name" placeholder="Nombre" required />
        </div>
        <div class="form-group">
          <label>Ocupación</label>
          <input type="text" [(ngModel)]="hero.occupation" name="occupation" placeholder="Ocupación" required />
        </div>
      </div>

      <div class="form-group">
        <label>Ciudad / Localización</label>
        <input type="text" [(ngModel)]="hero.location" name="location" placeholder="Ciudad" required />
      </div>

      <div class="form-group">
        <label>Descripción</label>
        <textarea [(ngModel)]="hero.description" name="description" placeholder="Ingresa una descripción"
          rows="4"></textarea>
      </div>

      <div class="form-group">
        <label>Elige una imagen</label>
        <div class="file-input">
          <button type="button" (click)="fileInput.click()">Seleccionar archivo</button>
          <span>{{ selectedFileName || 'Sin archivos seleccionados' }}</span>
          <input type="file" #fileInput (change)="onFileSelected($event)" hidden />
        </div>
      </div>

      <div class="form-actions">
        <div class="form-group checkbox-group">
          <input type="checkbox" id="terms" [(ngModel)]="hero.termsAccepted" name="terms" required />
          <label for="terms">Acepto los <span>Términos y condiciones</span></label>
        </div>
        <button type="submit" [disabled]="!isFormValid()">Crear Héroe</button>
      </div>
    </form>
  </div>
</div>