.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);

  &_content {
    background: var(--modal-bg);
    padding: 1.875rem;
    border-radius: 1.5rem;
    width: var(--modal-width-small);
    box-shadow: var(--box-shadow);
    position: relative;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.25rem;

      h2 {
        margin: 0 auto;
        font-size: var(--font-size-title);
        font-weight: 600;
        line-height: 120%;
        color: var(--text-color-dark);
      }

      &_close-button {
        width: auto;
        background: none;
        border: none;
        font-size: var(--font-size-large);
        cursor: pointer;
        color: black;
      }
    }

    &_body {
      display: flex;
      align-items: center;
      margin-top: 1.875rem;

      &_image {
        width: 1.5rem;
        height: 1.375rem;
        margin-left: .625rem;
      }

      &_text {
        display: flex;
        flex-direction: column;
        margin-left: 1.875rem;
        font-size: var(--font-size-base);
        font-weight: 400;
        line-height: 140%;

        &_bolder {
          font-weight: 700;
          font-size: var(--font-size-title);
          line-height: 140%;
        }
      }
    }

    &_form-actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 2.5rem;
      gap: 1.125rem;

      button {
        height: 2.5rem;
        width: 8.4375rem;
        border: none;
        border-radius: var(--border-radius-button);
        padding: var(--button-padding);
        cursor: pointer;
        font-weight: 400;
        font-size: var(--font-size-base);
        font-family: var(--font-primary);
      }

      button[type="submit"] {
        background: var(--primary-color);
        color: #FFFFFF;
      }

      &_cancel-btn {
        background-color: var(--background-light);
        color: var(--text-color);
      }
    }
  }
}